.container-sm {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container-sm {
    padding: 0 20px;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 0.7s steps(1) infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
