.container-sm {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container-sm {
    padding: 0 20px;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 0.7s steps(1) infinite;
  margin-left: 2px;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}



#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 800px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    height: auto;
  }

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
